@model IEnumerable<BaseStations.Models.User>

@{
    ViewData["Title"] = "Добавить пользователей";
}

<div class="d-flex justify-content-between align-items-center">
    <h1>Добавить нового пользователя</h1>
    <a href="@Url.Action("Index", "BaseStations")" class="btn btn-primary">Назад</a>
</div>

<form asp-controller="Users" asp-action="Add" method="post">
    <div class="form-group">
        <label for="login">Логин:</label>
        <input type="text" id="login" name="login" class="form-control" style="width: 200px;" maxlength="15" />
        @Html.ValidationMessageFor(model => model.FirstOrDefault().Login,"", new {@class = "text-danger"})
    </div>
    <div class="form-group">
        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" class="form-control" style="width: 200px;" maxlength="15" />
    </div>
    <div class="form-group" style="margin-top: 10px;">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
</form>

<div style="margin-top: 20px;"></div>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Логин
                </th>
                <th>
                    Пароль
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Login)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        <form asp-controller="Users" asp-action="Delete" method="post">
                            <input type="hidden" name="Login" value="@item.Login" />
                            <button type="submit" class="btn btn-danger">Удалить</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
